@import url(fonts/fonts.css);

* {
  overflow: hidden;
  font-family: "Source Code Pro", monospace, Terminal !important;
  font-size: 13px;
}

.xterm-viewport {
  overflow: hidden !important;
}

body {
  border: 1px solid green;
  color: #111;
  background-color: black;
}

h1 {
    text-align: center;
}

#terminal-container {
    margin: 0 auto;
    padding: 2px;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
